.table {
  width: 50%;
}

.p-datatable .p-datatable-thead > tr > th {
  border: 1px solid #d4d4d4;
  padding: 5px;
}

.p-datatable .p-datatable-tbody > tr > td {
  border: 1px solid #dee2e6;
  padding: 5px;
}
